*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Roboto', sans-serif;
    color: black;
}

/* css index*/

/*fondo del index*/
body{
    background-image: linear-gradient( to left, #F9DC88 ,#D1BD8F );
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #D1BD8F;
    padding: 10px;
}
h1{
    text-align: center;
    font-size: 4.5vh;
    text-transform: uppercase;
}
.menu{
    display: flex;
    margin: 20px;
    padding: 2rem;
}
.logo{
    display: inline-block;
    height: 75px;
    width: 175px;
}
nav ul li a:hover{
    background-color:#B8994E;
    transform: scale(1.2);
}
.titulo{
    color: black;
    text-decoration: none;
}


.containerVelas{
    display: grid;
    justify-content: space-between;
}
.containerVelas:hover{
    transform: scale(1.1);
}
.item{
    font-size: 4vh;
    text-align: center;
    text-transform: uppercase;
    padding: 7rem;
    grid-column: 1/ span 4;
}
img{
    width: 100%;
    height: auto;
}
.imgVelas{
    grid-row: 2 / 2;
    margin: 100px;
    padding: auto;
}
.imgVelas2{
   grid-row: 2 / 4;  
   margin: 100px;
   padding: auto;
}
.subtituloVelas{
    grid-column: 1/ 2;
    padding: auto;
    font-size: 3.3vh;
}
.subtituloDifusor{
    grid-column: 4 / 2;
    padding: auto;
    font-size: 3.3vh;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
} 
.parrafo{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
footer{
    text-align: center;
}
.footer1{
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* css velas*/

/* body de velas*/
.bodyVelas{
    background-image: linear-gradient( to left, #F9DC88 ,#D1BD8F );
    font-family:'Roboto', sans-serif;
}
.velasTitulo{
    text-align: center;
    text-transform: uppercase;
    font-size: 5vh;
}

.menuVelas{
    background-color: #D1BD8F;
    text-align: start;
    font-size: 1vh;
}
.headerVelas .menuVelas li a{
    color: black;
    text-decoration: none;
}


/* estilos de card*/

.estilos-card{
    margin: 2rem;
    padding: 1px;
    background-color:brown;
}
/*estilos parrafo*/
.estilos-p{
    font-size: 1.8rem
}

.btn-estilos{
    background-color:#D1BD8F;
    box-shadow: 2px 3px black;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.btn-estilos:hover{
    transform: scale(1.1);

}

.headerVelas{
    background-color: #D1BD8F ;
    position: sticky;
    top: 0;
}
li{
    font-size:  40px;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    padding: 10px;
}

/* css productos*/

/*body de productos*/
.perfuminas{   
    text-align: center;
    font-size: 5vh;
    text-transform: uppercase;
    margin: 50px;
    padding: 50px;
}
.perfuminasTexto{
    margin: 50px;
    text-align: center;
}
.perfuminasTexto2{
    margin: 50px;
    text-align: center;
}
.fotos{
    display: grid;
    grid-template-columns: auto auto;
    margin: 100px;
}
.esencias1{
    padding: auto;
    margin: auto;
}
.esencias2{
    padding: auto;
    margin: auto;
}
.difusor1{
    padding: auto;
    margin: auto;
}
.difusor2{
    margin: auto;
    padding: auto;
}
.difusor{
    text-align: center;
    font-size: 5vh;
    text-transform: uppercase;
}

    
.difusorTexto{
    margin: 50px;
    text-align: center;
}
.difusorTexto2{
    text-align: center;
}
/*Sobre nosotros*/
.tituloSobreNosotros{
    margin: 50px;
    font-size: 5vh;
    text-transform: uppercase;
}
.containerSobreNosotros{
    text-align: center;
    margin: 50px;
    padding: 50px;
}
/*contactanos*/

/* body  de contactanos*/
.bodyContactanos{
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}
.contactosParrafos{
    margin: 20px;
    padding: 20px;
}


/*formulario*/
.formulario{
    border: 10px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif ;
    padding: 50px;
    margin: 50px;
}
@media only screen and (max-width:480px){

    img{
        width: 100%;
    }
    
    .containerVelas{
        display: block;
        justify-content: center;
        grid-column: none;
    }
    .item{
        grid-column: none;
        text-align: center;
    }
    .imgVelas{
        display: block;
        justify-content: start;
        grid-column: none;
        margin: 20px;
        padding: 50px;
    }
        
    
    .imgVelas2{
        display: grid;
        grid-column: none;
        margin: 20px;
        padding: 50px;
    }
    
    .subtituloVelas{
        display: block;
        margin: 20px;
        padding: 10px;
    }
    .subtituloDifusor{
        display: block;
        margin: 20px;
        padding: 10px;
    }

    /*Sector velas*/

    .headerVelas{
        background-color: #D1BD8F ;
        position: sticky;
        top: 0;
        text-align: center;
    }

    .containervelas{
        display: inline-block;
    }
    /*Sector Productos*/
    .perfuminas{
        display: grid;
        justify-content: center;
        font-size: 3vh;
    }
    .fotos{
        display: flex;
        flex-direction: row;
        margin: 10px;
    }
    .esencias2{
        display: none;
    }
    .difusor2{
        display: none;
    }
    /*Sector Sobre Nosotros*/
    .sobre{
        text-align: center;
        padding: 10px;
    }
    .footer1{
        position: relative;
        
    }
    /*Sector Contactos*/
   .mainContactos{
       font-size: 1.5vh;
   }
}   

    


